<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_URI} !^/index.php$
# RewriteCond %{REQUEST_URI} !^/gql.php
RewriteRule ^(.+)$ /index.php?url=$1 [NC,L]